<div class="jumbotron">
  <h2><%= gettext "Welcome to Live View Demo!" %></h2>
</div>

<div class="row marketing">
  <%= link "Filter Example", to: LiveViewDemoWeb.Router.Helpers.live_path(@conn, LiveViewDemoWeb.FilterLive) %>
</div>
